<!-- Start Breadcrumb  ============================================= -->
<div class="breadcrumb-area bg-fixed" style="background-image: url(assets/img/Main-Bg.png);">
    <h2>Portfolio</h2>
    <div class="breadcrumb-navtext">
        <h5><span>Home </span><i class="fa fa-angle-right"></i><span> Portfolio</span></h5>
    </div>
</div>
<!-- End Breadcrumb -->

<div class="firstcontainer">
    <!-- Start Case Studies Area
    ============================================= -->
    <div class="case-studies-area overflow-hidden grid-items default-padding">
        <div class="container">
            <div class="case-items-area">
                <ngx-masonry [ordered]="true">
                    <div id="portfolio-grid" class="case-items colums-2">
                        <!-- Single Item -->
                        <div ngxMasonryItem class="masonry-item pf-item" *ngFor="let blogs of blogsList">
                            <div class="item">
                                <div class="thumb">
                                    <img src={{blogs.thumbImageUrl}} alt="Thumb">
                                </div>
                                <div class="info">
                                    <div class="info-items">
                                        <div class="left-info">
                                            <h4>
                                                <a [routerLink]="['/', section, blogs.category_name, blogs.slug.current]">{{blogs.title}}</a>
                                            </h4>
                                            <ul>
                                                <li>Technology</li>
                                            </ul>
                                        </div>
                                        <div class="right-info">
                                            <a class="item popup-gallery" [routerLink]="['/', section, blogs.category_name, blogs.slug.current]"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </ngx-masonry>
                <!-- Pagination -->
                <div class="row">
                    <div class="col-md-12 pagi-area text-center">
                        <nav aria-label="navigation">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" (click)="updateStartEnd(currentPageNo-1)"><i class="fas fa-angle-double-left"></i></a>
                                </li>
                                <li class="page-item" [class.active]="i+1==currentPageNo" *ngFor="let item of [].constructor(pageRange); let i = index">
                                    <a class="page-link" (click)="updateStartEnd(i+1)">{{i+1}}</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" (click)="updateStartEnd(currentPageNo+1)"><i class="fas fa-angle-double-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Case Studies Area -->
</div>