<!-- Start Breadcrumb  ============================================= -->
<div class="breadcrumb-area bg-fixed" style="background-image: url(assets/img/Main-Bg.png);">
    <h2>Portfolio</h2>
    <div class="breadcrumb-navtext">
        <h5><span>Home </span><i class="fa fa-angle-right"></i><span> Portfolio</span></h5>
    </div>
</div>
<!-- End Breadcrumb -->

<div class="firstcontainer">
    <!-- Start Case Studies Area
    ============================================= -->
    <div class="case-studies-area overflow-hidden grid-items default-padding">
        <div class="container">
            <div class="case-items-area">
                <ngx-masonry [ordered]="true">
                    <div id="portfolio-grid" class="case-items colums-2">
                        <!-- Single Item -->
                        <div ngxMasonryItem class="masonry-item pf-item">
                            <div class="item">
                                <div class="thumb">
                                    <img src="assets/img/800x800.png" alt="Thumb">
                                </div>
                                <div class="info">
                                    <div class="info-items">
                                        <div class="left-info">
                                            <h4>
                                                <a href="#">Cyber Security</a>
                                            </h4>
                                            <ul>
                                                <li>Technology</li>
                                            </ul>
                                        </div>
                                        <div class="right-info">
                                            <a class="item popup-gallery" href="assets/img/800x600.png"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div ngxMasonryItem class="masonry-item pf-item">
                            <div class="item">
                                <div class="thumb">
                                    <img src="assets/img/800x600.png" alt="Thumb">
                                </div>
                                <div class="info">
                                    <div class="info-items">
                                        <div class="left-info">
                                            <h4>
                                                <a href="#">IT Counsultancy</a>
                                            </h4>
                                            <ul>
                                                <li>Technology</li>
                                            </ul>
                                        </div>
                                        <div class="right-info">
                                            <a class="item popup-gallery" href="assets/img/800x600.png"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div ngxMasonryItem class="masonry-item pf-item">
                            <div class="item">
                                <div class="thumb">
                                    <img src="assets/img/800x800.png" alt="Thumb">
                                </div>
                                <div class="info">
                                    <div class="info-items">
                                        <div class="left-info">
                                            <h4>
                                                <a href="#">Analysis of Security</a>
                                            </h4>
                                            <ul>
                                                <li>Technology</li>
                                            </ul>
                                        </div>
                                        <div class="right-info">
                                            <a class="item popup-gallery" href="assets/img/800x600.png"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div ngxMasonryItem class="masonry-item pf-item">
                            <div class="item">
                                <div class="thumb">
                                    <img src="assets/img/800x800.png" alt="Thumb">
                                </div>
                                <div class="info">
                                    <div class="info-items">
                                        <div class="left-info">
                                            <h4>
                                                <a href="#">Cyber Security</a>
                                            </h4>
                                            <ul>
                                                <li>Technology</li>
                                            </ul>
                                        </div>
                                        <div class="right-info">
                                            <a class="item popup-gallery" href="assets/img/800x600.png"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div ngxMasonryItem class="masonry-item pf-item">
                            <div class="item">
                                <div class="thumb">
                                    <img src="assets/img/800x800.png" alt="Thumb">
                                </div>
                                <div class="info">
                                    <div class="info-items">
                                        <div class="left-info">
                                            <h4>
                                                <a href="#">IT Counsultancy</a>
                                            </h4>
                                            <ul>
                                                <li>Technology</li>
                                            </ul>
                                        </div>
                                        <div class="right-info">
                                            <a class="item popup-gallery" href="assets/img/800x600.png"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div ngxMasonryItem class="masonry-item pf-item">
                            <div class="item">
                                <div class="thumb">
                                    <img src="assets/img/800x600.png" alt="Thumb">
                                </div>
                                <div class="info">
                                    <div class="info-items">
                                        <div class="left-info">
                                            <h4>
                                                <a href="#">Analysis of Security</a>
                                            </h4>
                                            <ul>
                                                <li>Technology</li>
                                            </ul>
                                        </div>
                                        <div class="right-info">
                                            <a class="item popup-gallery" href="assets/img/800x600.png"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                    </div>
                </ngx-masonry>
            </div>
        </div>
    </div>
    <!-- End Case Studies Area -->
</div>