<div class="ytm-pivot-bar-renderer">
    <button routerLink="/" class="ytm-pivot-bar-item-renderer">
        <div class="pivot-bar-item-tab pivot-w2w active">
            <div class="c3-icon">
                <i class="fal fa-home" style="line-height: 2; font-size: 20px;" *ngIf="!isHome"></i>
                <i class="fas fa-home" style="line-height: 2; font-size: 20px;" *ngIf="isHome"></i>
            </div>
            <div class="pivot-bar-item-title" >
                <a routerLink="/">Home</a>
            </div>
        </div>
    </button>
    <button class="pivot-bar-item-tab pivot-w2w" routerLink="/insights">
        <div class="pivot-bar-item-tab pivot-w2w">
            <div class="c3-icon">
                <i class="fal fa-info-circle" style="line-height: 2; font-size: 20px;" *ngIf="!isInsights"></i>
                <i class="fas fa-info-circle" style="line-height: 2; font-size: 20px;" *ngIf="isInsights"></i>
            </div>
            <div class="pivot-bar-item-title">
                <a routerLink="/insights">Insights</a>

            </div>

        </div>

    </button>
    <button class="pivot-bar-item-tab pivot-w2w" routerLink="/about-us">
        <div class="pivot-bar-item-tab pivot-w2w">
            <div class="c3-icon">
                <i class="fal fa-users" style="line-height: 2; font-size: 20px;" *ngIf="!isAboutus"></i>
                <i class="fas fa-users" style="line-height: 2; font-size: 20px;" *ngIf="isAboutus"></i>
            </div>
            <div class="pivot-bar-item-title">
                <a routerLink="/about-us">About Us</a>
            </div>

        </div>
    </button>
    <button class="pivot-bar-item-tab pivot-w2w" routerLink="/contact">
        <div class="pivot-bar-item-tab pivot-w2w">
            <div class="c3-icon">
                <i class="fal fa-address-card" style="line-height: 2; font-size: 20px;" *ngIf="!iscontact"></i>
                <i class="fas fa-address-card" style="line-height: 2; font-size: 20px;" *ngIf="iscontact"></i>
            </div>
            <div class="pivot-bar-item-title">
                <a routerLink="/contact">Contact</a>
            </div>
        </div>
    </button>
</div>