<div class="App" style="background-image: url({{about_details.backgroundImageUrl}});">
    <div class="home section-bg active" id="home">
        <div class="d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="main-profile-image">
                            <img src={{about_details.thumbImageUrl}} alt={{about_details.name}}>
                        </div>
                    </div>
                    <div class="col-lg-6  align-self-center">
                        <div class="hero-box text-left">
                            <span class="greeting">HELLO</span>
                            <h2 class="name" >
                                I'm <span>{{about_details.name}}</span>
                            </h2>

                            <h4 class="header_title typing-erasing-animation">{{about_details.profession}}</h4>
                            <p class="short-info">
                                {{about_details.description}}
                            </p>
                            <a id="g-p-f-h" class="pagelink mybtn mybtn-bg" href="/about"><span><i class="fas fa-briefcase"></i>Know more about me</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>