<div class="App" style="background-image: url(assets/img/home_bg.jpg); ">
    <div class="home section-bg active" id="home">
        <div class="d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="main-profile-image">
                            <img src="assets/img/img1656129599471.jpg" alt="hritwij shrivastava">
                        </div>
                    </div>
                    <div class="col-lg-6  align-self-center">
                        <div class="hero-box text-left">
                            <span class="greeting">HELLO</span>
                            <h2 class="name">
                                I'm <span>Hritwij Shrivastava</span>
                            </h2>

                            <h4 class="header_title"> I am a software developer</h4>
                            <p class="short-info">
                                Specializing in data-driven solutions, I bring expertise in Python, Statistics, and Machine Learning. My work involves transforming complex data into actionable insights, developed through a blend of commercial and freelance projects.
                            </p>
                            <a id="g-p-f-h" class="pagelink mybtn mybtn-bg" to="/about"><span><i class="fas fa-briefcase"></i>Know more about me</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>