<!-- Start Footer ============================================= -->
<footer class="bg-dark text-light">
    <!-- Fixed Shape -->
    <div class="fixed-shape">
        <img src="assets/img/map.svg" alt="Shape">
    </div>
    <!-- Fixed Shape -->
    <div class="container">
        <div class="f-items default-padding">
            <div class="row">
                <div class="col-lg-3 col-md-6 item">
                    <div class="f-item about">
                        <img src="assets/img/hritwij.png" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 item">
                    <div class="f-item link">
                        <h4 class="widget-title">Services</h4>
                        <ul>
                            <li><a routerLink="/data-analytics">Data &amp; Analytics</a></li>
                            <li><a routerLink="/cloud">Cloud Computing</a></li>
                            <li><a routerLink="/intelligent-automation">Intelligent Automation</a></li>
                            <li><a routerLink="/artificial-intelligence">Artificial Intelligence</a></li>
                            <li><a routerLink="/cyber-security">Cyber Security</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 item">
                    <div class="f-item link">
                        <h4 class="widget-title">News</h4>
                        <ul>
                            <li><a routerLink="/press-releases">Press releases</a></li>
                            <li><a routerLink="/corporate-social-responsibility">Corporate Social Responsibility</a>
                            </li>
                            <li><a routerLink="/social-media">Social media</a></li>
                            <li><a routerLink="/events">Events</a></li>
                            <li><a routerLink="/explore">Explore</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 item">
                    <div class="f-item">
                        <h4 class="widget-title">Contact Info</h4>
                        <div class="address">
                            <ul>
                                <li>
                                    <strong>Address:</strong>
                                    Flat No- B405, Block B, Mahendra Abasan, Naipukur, West Bengal-700135
                                </li>
                                <li>
                                    <strong>Email:</strong>
                                    <a href="mailto:{{ 'support@cetosoft.com' }}">{{ 'support@cetosoft.com' }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <p style="color: #fff;">&copy; 2024 <a routerLink="/" style="color: #fff; text-align: center;">Cetosoft Infotech Pvt.
                            Ltd.</a> All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <h5></h5>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
<!-- End Footer -->