<footer class="footer" style="padding-bottom: 0px; background: #17222b">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 footer-widget-resp">
                    <div class="footer-widget">
                        <h6 class="footer-title">About Me</h6>
                        <img src="assets/img/hritwij.png" alt="footer logo" class="img-fluid footer-logo" style="max-width: 40%"/>
                            <!-- {/* <p class="footer-desc"> -->
                            <!-- I'm an experienced software engineer. In my two years in this industry, I've sharpened my analytical thinking and collaboration skills. -->
                            <!-- </p> */} -->
                            <div class="footer-social-links">
                                <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/hritwij/">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a target="_blank" rel="noreferrer" href="https://www.facebook.com/hritwij.shrivastava/">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a target="_blank" rel="noreferrer" href="https://github.com/hritwij-shrivastava">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a target="_blank" rel="noreferrer" href="https://www.youtube.com/channel/UCXb45TeeuSM_OYDY-UN6WCQ">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 footer-widget-resp">
                    <div class="footer-widget footer-widget-pl">
                        <h6 class="footer-title">Usefull Links</h6>
                        <ul class="footer-links">
                            <li>
                                <a to="/about">About</a>
                            </li>
                            <li>
                                <a to="/services">My Services</a>
                            </li>
                            <li>
                                <a href={`${webAddress}${userdata.resume}`} target="_blank" rel="noreferrer">
                                    My Resume
                                </a>
                            </li>
                            <li>
                                <a to="/portfolio">My Works</a>
                            </li>
                            <li>
                                <a to="/contact">Get in Touch</a>
                            </li>
                            <!-- <li>
                                <a to="/">Privacy Policy</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 footer-widget-resp">
                    <div class="footer-widget">
                        <h6 class="footer-title">Contact Info</h6>
                        <div class="footer-contact-info-wrap">
                            <ul class="footer-contact-info-list">
                                <li>
                                    <h6>Address:</h6>
                                    <p>
                                        Kestopur, Kolkata , West Bengal
                                        <br/>India-700102
                                    </p>
                                </li>
                                <li>
                                    <h6>E-Mail &amp; Phone:</h6>
                                    <div class="text">
                                        <p>+91 8051319411</p>
                                        <p>hritwij01shrivastavagmail.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>